# Android / IntelliJ
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Gradle
.gradle/
build/

# Android Studio
*.iml
.gradle
/build/
/local.properties

# Keystore files
*.jks
*.keystore
